<main>
  <!-- <section class="banner"> -->
      <!-- <div class="layer layer-oshiro" data-scroll="0.05" data-yoffset="200">&nbsp;</div>
      <div class="layer layer-dash" data-scroll="0.20" data-yoffset="200">&nbsp;</div>
      <div class="layer layer-theo" data-scroll="0.05" data-yoffset="300">&nbsp;</div>
      <div class="layer layer-granny" data-scroll="0.10" data-yoffset="290">&nbsp;</div>
      <div class="layer layer-badeline" data-scroll="0.15" data-yoffset="0">&nbsp;</div>
      <div class="layer layer-madeline" data-scroll="0.20" data-yoffset="0">&nbsp;</div>
      <div class="layer layer-logo" data-scroll="0.25" data-yoffset="0">&nbsp;</div>
      <div class="layer layer-strawberry" data-scroll="0.30" data-yoffset="0">&nbsp;</div>
      <div class="layer layer-clouds" data-scroll="0.01" data-yoffset="100">&nbsp;</div> -->
      <!-- <div class="edge">&nbsp;</div> -->
      <!-- <div class="color" data-scroll="0" data-yoffset="0">
          <div class="color2" data-scroll="0.2" data-yoffset="0">
          </div>
      </div> -->
  <!-- </section> -->

  <section class="container container-personagens">
    <div class="personagens">
      <app-card-personagem [personagem]="madeline"/>
      <app-card-personagem [personagem]="madeline"/>
      <app-card-personagem [personagem]="madeline"/>
      <app-card-personagem [personagem]="madeline"/>
      <app-card-personagem [personagem]="madeline"/>
      <app-card-personagem [personagem]="madeline"/>
    </div>
  </section>
</main>
