/* You can add global styles to this file, and also import other style files */
:root{
  --vermelho-celeste: #F24B4B;
  --azul-escuro-celeste: #191F40;
  --azul-claro-celeste: #42558C;
  --vermelho-celeste: #F2916D;
  --rosa-celeste: #E580F2;
}


*{
  font-family: 'Renogare', sans-serif;
  margin: 0;
}
