@import url('http://fonts.cdnfonts.com/css/renogare');
*{
    margin: 0%;
    font-family: 'Renogare', sans-serif;
}

html{
    scroll-behavior: smooth;
}



.container {
    width: 80%;
    height: 100%;
  }