* {
    margin: 0%;
}

body {
    font-family: 'Renogare', sans-serif;
}

button {
    background-color: #ea422c;
    color: white;
    border: #fff solid 0.1vw;
    border-radius: 300px;
    font-size: 1vw;
    width: 16vw;
    height: 5vh;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
}

/* Banner principal */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.9);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 4% 0 0 0;
    background-image: url("../assets/img/gif/fundoDash.jpg");
    background-size: cover;
    background-color: #222222;
}

.imgFundo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 140vw;
}

.graficos {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 97%;
    height: 100%;
    font-size: 1vw;
    background-color: #2222227f;
    padding: 1vw;
    margin-top: 1vw;
    border: #444 0.2vw solid;
    border-radius: 10px;
}

.graficos2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1vw;
    background-color: #2222227f;
    border: #444 0.2vw solid;
    border-radius: 10px;
}
.graficos4 {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 97%;
    height: 100%;
    font-size: 1vw;
    background-color: #2222227f;
    padding: 1vw;
    margin-top: 1vw;
    border: #444 0.2vw solid;
    border-radius: 10px;
}
.PersonagemFavorito {
    background-color: #222222;
}

/* Formulario */
.container {
    background-color: #2cd1ea;

}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(22, 22, 22, 0.9);
    height: 60vh;
    width: 30vw;
    position: absolute;
}

.titulo {
    color: #fff;
    padding: 2%;
    font-size: 2vw;
    width: 80%;
    
}

.titulo2{
    background-color: rgba(15, 14, 14, 0.755);
}
.titulo3{
    display: flex;
    color: #fff;
    padding: 6%;
    font-size: 2vw;
    width: 80%;
}
.titulo4{
    color: #fff;
    padding: 6%;
    font-size: 2vw;
    width: 80%;
}
.titulo5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    display: flex;
width: 100%;
height: 100%;
}

.usuarios{
    font-size: 3vw;
    display: flex;
    align-items: center;
}
.ftPersonagem{
    display: flex;
    padding-left: 5%;
}
.ftPersonagem img{
    border-radius: 100px;
    
}

canvas {
    background-image: url("../assets/img/celesteLuta.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}