*{
    margin: 0%;
}
body{
    font-family: 'Renogare', sans-serif;
}
button{
    background-color: #ea422c;
    color: white;
    border: #fff solid 0.1vw;
    border-radius: 300px;
    font-size: 1vw;
    width: 16vw;
    height: 5vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

.banner #div_erros_login {
    margin-top: 15px;
  }

  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
/* HEADER */
header{
    width: 100%;
    height: 8vh;
    color: #fff;
    background-color: rgba(234, 66, 44, 0.7);
    position: absolute;
    overflow: hidden;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 4vw;
    height: 4vw;
}
.icon{
    width: 4vw;
    height: 4vw;
}
.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    width: 20vw;
    font-size: 1vw;
    padding-right: 2%;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none;
    
}
.navbar ul {
    list-style: none;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    cursor: pointer;
}

/* Banner principal */

.banner
    {
        width: 100%;
        height: 50%;
        padding: 25% 0 25% 0;
}
.imgFundo {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-size: 140vw;
    background-image: url("../assets/img/backgroundCadastro.png");
  }
/* Formulario */
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(22, 22, 22, 0.9);
    height: 60vh;
    width: 30vw;
    position:absolute;
}

.titulo1{
    padding: 2%;
}
.campo{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.campo .mensagem{
    display: flex;
    font-size: 1vw;
}
.campo input{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(22, 22, 22, 0);
    border-top: 0vw;
    border-left: 0vw;
    border-right: 0vw;
    border-bottom: 0.1vw solid #fff;
}
.campo #placeholder{
    color: #fff;
}
.campo select{
    display: flex;
    color: #fff;
    height: 2vw;
    background-color: rgba(22, 22, 22, 0.9);
}
.campo select option{
    display: flex;
    background-color: rgba(22, 22, 22, 0.9);
}

.contaExistente{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8vw;
    width: 15vw;
    padding: 2%;
}
.contaExistente a{
    display: flex;
    align-items: center;
    font-size: 0.8vw;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:20vh;
    background-color: #222222;
    position: absolute;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}


.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ea422c 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }

 


.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #161618;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}
