*{
    margin: 0%;
}
body{
    font-family: 'Renogare', sans-serif;
}
button{
    background-color: #ea422c;
    color: white;
    border: #fff solid 0.1vw;
    border-radius: 300px;
    font-size: 1vw;
    width: 16vw;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* HEADER */
header{
    width: 100%;
    height: 8vh;
    color: #fff;
    background-color: rgba(234, 66, 44, 0.7);
    position: absolute;
    overflow: hidden;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 4vw;
    height: 4vw;
}
.icon{
    width: 4vw;
    height: 4vw;
}
.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    width: 20vw;
    font-size: 1vw;
    padding-right: 2%;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none;
    
}
.navbar ul {
    list-style: none;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    cursor: pointer;
}

/* Banner principal */
.banner
    {
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/gif/celeste-mountain.gif");
        background-size: 100%;
        width: 100%;
        height: 100%;
        padding-top: 4vw;
   
}
.timer{
    display: flex;
    justify-content: center;
    width: 100%; 
    color: #fff;
    font-size: 8vw;
}
.container-game{
    width: 80%;
    height: 100%;
    border: 0.2vw solid #444;
    border-bottom: 3vw solid #444;
    background-color: #222;
    flex-direction: column;
}

  /* Game */
  .game{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
  }
  .posicao1{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    border-top: 0.2vw solid #444;
    border-left: 0.2vw solid #444;
    border-right: 0.2vw solid #444;
    border-bottom: 0vw;
   
  }
  .posicao2{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    border-left: 0.2vw solid #444;
    border-right: 0.2vw solid #444;
    border-bottom: 0vw;
   
  }
  .posicao3{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    border-left: 0.2vw solid #444;
    border-right: 0.2vw solid #444;
    border-bottom: 0.2vw solid #444;
    margin-bottom: 1vw;
   
  }
  .placar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2vw;
  }
  #pontos{
    color: #fff;
  }
  .botao{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.posicao{
    background-image: url("../assets/img/gif/straberryAsa.gif");
    background-size: 100%;
    width: 10vw; 
    height: 5vw; 
}

