@import url('http://fonts.cdnfonts.com/css/renogare');

* {
    margin: 0%;
    font-family: 'Renogare', sans-serif;
    
}
 a{
    cursor: pointer;
    text-decoration: none;
 }
html {
    scroll-behavior: smooth;
}

body{
    background-color: #444;
}

button{
    cursor: pointer;
   
}

#nome{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome2{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome3{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome4{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome5{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome6{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome7{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#nome8{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 7px;
  } 
  
  button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
  
  #cor{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  #cor2{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  #cor3{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  #cor4{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  #cor5{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
/* Header */
header {
    width: 100%;
    height: 8vh;
    color: #fff;
    background-color: rgba(22, 22, 22, 0.7);
    overflow: hidden;
    position: fixed;
    z-index: 10;
}

/* Barra de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav img {
    width: 4vw;
    height: 4vw;
    z-index: 10;
}

.icon {
    height: 4vw;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    width: 35vw;
    font-size: 1vw;
    justify-content: space-between;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
    z-index: 10;
}

.navbar ul {
    padding: 0%;
    list-style: none;
    width: 29vw;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.navbar ul li {
    cursor: pointer;
    z-index: 10;
}

/* Containers */
.container {
    width: 80%;
    height: 100%;
}

.container2 {
    width: 80%;
    height: 150%;
    border: 0.2vw solid #444;
    border-bottom: 3vw solid #444;
    background-color: #222;
    flex-direction: column;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    overflow:visible;
}
.container3{
    width: 80%;
    height: 150%;
    border: 0.2vw solid #444;
    border-bottom: 3vw solid #444;
    background-color: #222;
    flex-direction: column;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    margin-bottom: 100%;
    overflow:visible;
}
.container4{
    width: 80%;
    height: 150%;
    border: 0.2vw solid #444;
    border-bottom: 3vw solid #444;
    background-color: #222;
}

/* Cores */
.txtBranco {
    color: #fff;
}

.txtVermelho {
    color: #ea422c;
}

.txtLaranja {
    color: #e47c2c
}

.txtRoxo {
    color: #db4ce4;
}

.txtVerde {
    color: #006400
}

.txtVerdeClaro {
    color: #7cbc44
}

.txtLight {
    color: #fce4bc
}

.txtAmareloClaro {
    color: #fcec7c
}

.agora {
    color: #ea422c;
}
#imgIcone{
    cursor: pointer;
}
.coracao {
    background-image: url("../assets/img/gif/coracaoAzul.gif");
    position: absolute;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 10%;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(22, 22, 22, 0.7);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(22, 22, 22, 0.7);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    height: 10%;
    border: 1vw solid rgba(22, 22, 22, 0.7);  /* creates padding around scroll thumb */
  }