@import url('http://fonts.cdnfonts.com/css/renogare');
*{
    margin: 0%;
    font-family: 'Renogare', sans-serif;
}

header{
    width: 100vw;
    height: 18vh;
    color: #fff;
    background-color: rgba(234, 66, 44, 0.7);
}
html{
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    height: 100%;
}
.container2 {
    width: 80%;
    height: 150%;
    border: 0.2vw solid #444;
    border-bottom: 3vw solid #444;
    background-color: #222;
    flex-direction: column;
  
}

.txtBranco{
    color: #fff;
}
.txtVermelho{
   color: #ea422c;
}
.txtLaranja{
    color:#e4412c
}
.txtRoxo{
    color: #db4ce4;
}
.txtVerde{
    color:#006400
}
.txtVerdeClaro{
    color:#7cbc44
}
.txtLight{
    color:#fce4bc
}
.txtAmareloClaro{
    color:#fcec7c
}
.agora{
    color: black;
}

.coracao{
    background-image: url("../assets/img/gif/coracaoAzul.gif");
    position: absolute;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 10%;
}