*{
    margin: 0%;
}
body{
    font-family: 'Renogare', sans-serif;
}
button{
    background-color: #ea422c;
    color: white;
    border: #fff solid 0.1vw;
    border-radius: 300px;
    font-size: 1vw;
    width: 16vw;
    height: 5vh;
    margin-top: 10%;
    margin-bottom: 10%;
}
/* HEADER */
header{
    width: 100%;
    height: 8vh;
    color: #fff;
    background-color: rgba(234, 66, 44,0.7);
    position: absolute;
    overflow: hidden;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 4vw;
    height: 4vw;
}
.icon{
    width: 4vw;
    height: 4vw;
}
.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    width: 20vw;
    font-size: 1vw;
    padding-right: 2%;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none;
    
}
.navbar ul {
    list-style: none;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    cursor: pointer;
}

/* Banner principal */

.banner
    {
       background-image: url("/assets/img/background.png");
    }
  
.img-celeste{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Banner game */

.bannergame{
    background-color: #222222;
    width: 100%;
    height: 50vh;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
}
.borda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 49vh;
    background-color: #fff;
    border: #ea422c solid 1vw;
    border-style:ridge;
}

.borda video{
    width: 50vw;
    height: 50vh;
}

/* Banner Personagem */
.personagens{
    background-color: #222;
}
.bannerPersonagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding-top: 1vw;
    flex-direction: column;
    background-color: #222;
    margin-top: 14%;
}
.caixa2{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2vw;
    padding: 1vw;
}
.ImgBaixa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    border-top: #444 solid 0.2vw;
    height: auto;
}
.ImgBaixaMad{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50vw;
    height: 56vh;
    background-image: url("../assets/img/gif/madeleine.gif");
    background-position-x: center;
    background-size: contain;
}
.ImgBaixaBad{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50vw;
     height: 56vh;
    background-image: url("../assets/img/personagensGif/badeline/bad.gif");
    background-size: 100%;
}
.ImgBaixaTheo{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50vw;
     height: 56vh;
    background-image: url("../assets/img/personagensGif/theo/theo.gif");
    background-size: 100%;
}
.ImgBaixaOshiro{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50vw;
     height: 56vh;
    background-image: url("../assets/img/personagensGif/oshiro/oshiro.gif");
    background-size: 100%;
}
.ImgBaixaVovo{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50vw;
    height: 56vh;
    background-image: url("../assets/img/personagensGif/vovo/vovó.gif");
    background-size: 100%;
}
.titulo2{
    display: flex;
    justify-content: center;
    font-size: 3vw;
    background-color: #222222;
}

.bordaCard{
    margin: 0.1vw;
    border: #fff solid 0.1vw;
}

.bordaPersonagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 12vh;
    border: #fff solid 0.1vw;
}
.nomePersonagem{
    padding: 2vw;
    border-right: #444 solid 0.3vw;
}
.nomePersonagemReverse{
    padding: 2vw;
    border-left: #444 solid 0.3vw;
}
.sobrePersonagem{
    text-align: justify;
    padding: 2vw;
    font-size: 1vw;

}
/* Personagens */

.madeleine{
    background-image: url("../assets/img/personagensGif/madeline/normal.gif");
    background-size: 100%;
}
.badeleine{ 
    background-image: url("../assets/img/personagensGif/badeline/yell.gif");
    background-size: 100%;
}
.theo{
    background-image: url("../assets/img/personagensGif/theo/thinking.gif");
    background-size: 100%;
}
.oshiro{
    background-image: url("../assets/img/personagensGif/oshiro/serious.gif");
    background-size: 100%;
}
.vovo{
    background-image: url("../assets/img/personagensGif/vovo/laugh.gif");
    background-size: 100%;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10vw;
    width: 100%;
    height:30vh;
    background-color: #222222;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}